body{
    font-family: Arial, Helvetica, sans-serif;

}



nav {
    background-color: #1b3c53;
    overflow: hidden;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav ul li{
    list-style-type: none;

}

.nav ul li a{
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #234c6a;
}

.hero h2 {
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero p {
    color: white;
    text-align: center;
    padding: 0 20px 50px 20px;
}

.products {

    display: flex;;
    gap: 20px;
    padding: 20px;
}
footer {
    background-color: #d2c2b6;
    color: black;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}